
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    background-color: #FAFAFA;
    height: 100vh;
    gap: 16px;
    padding: 0%;
    margin: 0%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}

.caixaP{
    background-color: #FFFFFF;
    display: flex;
    width:498px ;
    border-radius: 24px;
    padding: 32px;
    gap: 16px;
    border: 1px solid #eee;
    flex-direction: column;
}

.inpEmail{
    background-color: #F5F5F5;
    border: none;
    width: calc(100% - 32px);
}

.inpSenha{
    background-color: #F5F5F5;
    border: none;
    width: calc(100% - 32px);
}

.tituloLog{
    display: flex;
    justify-content: center;
    font-family: Poppins;
    size: 24px;
    font-weight: 600;
}

input{
    border-radius: 16px;
    padding: 20px 16px 20px 16px;
    gap: 10px;
    font-family: Poppins;
}


.senhaEsquecida{
    display: flex;
    justify-content: center;
}

.botaoP{
    display: flex;
    justify-content: center;
}

.linkEsqSenha{
    size: 10px;
   line-height: 15.01px;
   font-family: Poppins;
   color: black;
   text-decoration: none;
}

.loguin{
background-color: #FF2459;
color: white;
border-radius: 16px;
padding: 12px 32px 12px 32px;
font-family: Poppins;
border: none;
}

.textEmail{
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 5px;
}

.textSenha{
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 5px;
}

.nomeCantina{
    font-family: Montserrat;
    size: 36px;
    line-height: 43.92px;

}

.mj{
    font-weight: 400;
}